.about {
  & .section-one {
    //   border: 2px solid red;
    min-height: 319px;
    background: var(--primary-green);
    display: flex;
    justify-content: center;
    align-items: center;

    & .section-center {
      max-width: var(--max-width);
      // border: 2px solid blue;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      & h2 {
        font-size: 42px;
        color: white;
        text-transform: capitalize;
      }

      & .link {
        display: flex;
        gap: 5px;

        & a,
        p,
        span {
          font-size: 13px;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  & .section-two {
    // border: 2px solid red;
    // background: rgb(247, 244, 241);

    background: var(--light-green);
    padding: 90px 30px 50px;

    & .content {
      //   border: 2px solid blue;
      margin: 0 auto;
      max-width: var(--max-width);
      display: flex;
      gap: 50px;

      & .left {
        max-width: 530px;
        max-height: 435px;

        & img {
          height: 100%;
          width: 100%;
        }
      }

      & .right {
        display: flex;
        flex-direction: column;
        gap: 30px;

        & h2 {
          color: rgba(234, 179, 23, 0.98);
          font-size: 13px;
          text-transform: uppercase;
        }

        & h1 {
          font-size: 50px;
          color: #9c6a37;
          text-transform: capitalize;
        }

        & h3 {
          color: rgb(132, 109, 83);
          font-size: 19px;
        }

        & p {
          font-size: 17px;
          color: rgb(168, 152, 137);
        }

        & button,a {
          text-decoration: none;
          border: none;
          width: fit-content;
          border-radius: 8px;
          color: #9c6a37;
          -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
          background-color: #f4e9d7;
          padding: 20px 60px;
          font-size: 14.3px;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 700;
        }
      }
    }

    & .values{
      // border: 2px solid red;
      max-width: var(--max-width);
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      gap: 30px;
      justify-content: center;

      & .value-item{
        // border: 2px solid blue;
        padding: 40px 30px;
        width: 30%;
        max-width: 324px;
        background: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 6px;
    border: none;
    -webkit-box-shadow: 0 5px 10px 7px rgba(136,140,133,.05);
    box-shadow: 0 5px 10px 7px rgba(136,140,133,.05);

        & img{
          height: 80px;
          width: 80px;
          background: #006600;
          border-radius: 50%;
          padding: 15px;
        }

        & h2{
          color: #666666;
          font-size: 28px;
          text-transform: capitalize;
        }

        & p{
          font-size: 17px;
          letter-spacing: 1px;
        }
      }
    }
  }

  & .section-three{
    // border: 2px solid red;
    // background: var(--light-green);
    padding: 80px 0;

    & .center{
      width: 80%;
      max-width: 1179px;
      // border: 2px solid blue;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      & .team{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        // align-items: center;

        & .team-item{
          width: 30%;
          max-width: 349px;
          // border: 2px solid green;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          justify-content: centers;

          & img{
            height: 492px;
            object-fit: cover;
            width: 100%;
            border-radius: 15px;
          }

          & h2{
            font-size: 28px;
          }

          & .line{
            // padding: 15px 0;
            height: 3px;
            width: 10%;
            background: #666666;
          }

          & h3{
            color: #FF6600;
            font-size: 18px;
          }

          & p{
            text-align: center;
            height: 189px;
          }
        }
      }

      & .desc{
        color: #FF6600;
        font-size: 13px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      & h1{
        font-size: 50px;
        font-weight: 700;
      }

      
    }
  }
}
