.footer {
  //   border: 2px solid red;
  background-repeat: no-repeat;
  background-size: cover;
    background: var(--light-green);


  & .footer-center {
  margin: 0 auto;
  padding: 55px 0;
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    // border: 2px solid blue;
    flex-wrap: wrap;
    justify-content: space-between;

    & .left {
      display: flex;
      flex-direction: column;
      //   border: 2px solid salmon;
      gap: 25px;

      & p {
        max-width: 300px;
        color: #000;
        text-align: justify;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
      }

      & .socials {
        display: flex;
        gap: 25px;

        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          cursor: pointer;
          color: white;
          border-radius: 5px;
          background: var(--primary-green);
          padding: 5px;
          cursor: pointer;
        }
      }
    }

    & .middle,
    .right {
      display: flex;
      flex-direction: column;
      gap: 25px;

      & h2 {
        color: #000;
        text-align: justify;
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-transform: capitalize;
      }

      & .link-item {
        color: #000;
        text-align: justify;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    & .right {
      & p {
        color: #000;
        text-align: justify;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
      & .info {
        max-width: 340px;
      }

      & input {
        padding: 10px 20px;
        border-radius: 5px;
        // background: #046604;
        // background: var(--light-green);
        background: white;
        font-size: 16px;
        border: none;
        // color: white;
        color: var(--primary-green);

        &::placeholder {
        color: var(--primary-green);
        // color: rgba(255, 255, 255, 0.46);
          text-align: justify;
          font-size: 16px;
          font-family: Inter;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }
      }

      & button {
        padding: 10px 20px;
        border-radius: 5px;
        background: #046604;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: var(--transition);

        &:hover{
          transition: var(--transition);
          background: white;
          color: var(--primary-green);
          border: 1px solid var(--primary-green);
        }
      }
    }
  }
}
