.landing {

  & .landing-center {
    // border: 2px solid blue;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    gap: 20px;

    & .landing-card {

      & .image {
        height: auto;
        max-width: 610px;
        max-height: 405px;
        position: relative;
        transition: var(--transition);

        & .img-overlay {
          opacity: 0;
          position: absolute;
          background: rgba(252, 103, 2, 0.50);
          top: 0;
          left:0;
          z-index: 3;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          padding-left: 67px;
          // justify-content: center;
        }

        & .main-img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      & .overlay{
        transition: var(--transition);
        & .img-overlay{
          opacity: 1;
        }
      }

      & .info-container {
        padding: 35px;
      }
      & .info {
        // border: 2px solid red;
        max-width: 478px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & h2 {
          color: #fff;
          font-size: 30px;
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: -0.6px;
        }

        & p {
          color: #fff;
          text-align: justify;
          font-size: 16px;
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }

        & button, a {
          text-decoration: none;
          border-radius: 5px;
          background: #fff;
          box-shadow: 0px 8px 30px 0px rgba(0, 191, 178, 0.1);
          width: fit-content;
          padding: 10px 20px;
          border: none;
          //   color: #fc6702;
          color: black;
          text-align: center;
          font-size: 14px;
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          text-transform: capitalize;
          cursor: pointer;
        }
      }
    }
  }
}
